.row{
	max-width: 1000px;
}

.navigation-bar{
	background-color: rgb(249, 218, 49);
	color: black;
	font-weight: bold;
	padding: 20px 0px 20px 0px;
}

.navigation-bar-logo{
	float: left;
}

.navigation-bar-logo span{
	margin-left: 15px;
}

.navigation-bar-logo img{
	width: 30px;
	height: 30px;
}

.navigation-bar ul{
	float: right;
	list-style: none;
}

.navigation-bar li{
	display: inline-block;
	padding: 0px 20px 0px 20px;
}

.navigation-bar li a{
	color: black;
}

.navigation-bar li a:hover{
	color: grey;
}

@media screen and (max-width: 700px) {
	.navigation-bar-logo, .navigation-bar ul{
		float: none;
		text-align: center;
	}

	/*.navigation-bar ul{
		float: none;
		text-align: center;
	}*/
}

.clr{
	clear: both;
}